DATABASE_URL=postgresql+asyncpg://postgres:postgres@host.docker.internal:5432/news_monitoring
BASE_URL=http://fastapi:8001/api/v1
DIFY_BASE_URL=http://host.docker.internal/v1
TRANSNEWS_BASE_URL=http://host.docker.internal:8000/api/v1

SECRET_KEY=your_very_long_random_secret_key
ALGORITHM=HS256
ACCESS_TOKEN_EXPIRE_MINUTES=60
REFRESH_TOKEN_EXPIRE_DAYS=14
DEBUG=True
DATABASE_ECHO=False
API_V1_PREFIX=/api/v1



CHATFLOW_API_KEY=   
SUMMARY_WORKFLOW_API_KEY=   
SCORING_WORKFLOW_API_KEY=   
NEWS_EDITOR_WORKFLOW_API_KEY=
PRIORITY_INSIGHT_WORKFLOW_API_KEY=

# Knowledge
KNOWLEDGE_API_KEY=  
DIFY_DATASET_ID=    
DIFY_ARTICLE_ID_METADATA_FIELD_ID=
DIFY_KEYWORD_ID_METADATA_FIELD_ID=
DIFY_KEYWORD_TEXT_METADATA_FIELD_ID=


TRANSNEWS_REQUEST_TIMEOUT=60

LOGIN_DISABLED=true

SMTP_HOST=smtp.gmail.com
SMTP_PORT=587
SMTP_USER=@gmail.com
SMTP_PASSWORD=
SMTP_FROM=@gmail.com
